<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
