<script setup lang="ts">
import {
  NInput,
  NUpload,
  NUploadDragger,
  NText,
  NP,
  NForm,
  NFormItem,
  NRadioGroup,
  NRadioButton,
  NButton,
  useMessage,
  NIcon,
  type FormInst,
  type FormItemRule,
} from "naive-ui";
import { ref } from "vue";

import { useProductStore } from "@/stores/product";
import IconUpload from "../components/icons/IconUpload.vue";

const store = useProductStore();
const message = useMessage();
const formRef = ref<FormInst | null>(null);

const formValue = ref({
  name: "",
  condition: "",
  description: "",
  price: "0",
  address: {
    city: "",
    region: "",
    street: "",
    building: "",
    flat: "",
  },
});
const rules = {
  name: {
    required: true,
    message: "Пожалуйста, введите название объявления",
    trigger: ["blur", "input"],
  },
  condition: {
    required: true,
    message: "Пожалуйста, укажите состояние",
  },
  description: {
    required: true,
    message: "Пожалуйста, введите описание",
    trigger: ["blur", "input"],
  },
  price: {
    required: true,
    validator(rule: FormItemRule, value: string) {
      if (!value) {
        return new Error("Пожалуйста, введите цену");
      } else if (!/^\d*$/.test(value))
        return new Error("Цена не должна содержать буквы!");
    },
    trigger: ["blur", "input"],
  },
  address: {
    city: {
      required: true,
      message: "Пожалуйста, введите город",
      trigger: ["blur", "input"],
    },
    region: {
      required: true,
      message: "Пожалуйста, введите район",
      trigger: ["blur", "input"],
    },
    street: {
      required: false,
    },
    building: {
      required: false,
    },
    flat: {
      required: false,
    },
  },
};
const test = () =>
  fetch("http://localhost:8080/posts/new", {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      name: "fgh",
      price: 1,
      description: "fghgfh",
    }),
  });

const handleValidateButtonClick = (e: MouseEvent) => {
  e.preventDefault();
  formRef.value?.validate((errors) => {
    if (!errors) {
      // store.addProduct("11", formValue.value);
      test();
    } else {
      message.error("Необходимо заполнить все обязательные поля!");
    }
  });
};
</script>
<template>
  <main>
    <div class="wrapper">
      <NForm
        label-placement="left"
        ref="formRef"
        :model="formValue"
        :rules="rules"
        label-width="auto"
      >
        <h1>Параметры</h1>
        <NFormItem label="Название объявления" path="name">
          <NInput
            v-model:value="formValue.name"
            placeholder="Введите название товара"
            size="large"
            class="name"
          >
          </NInput>
        </NFormItem>
        <NFormItem label="Состояние" path="condition">
          <NRadioGroup v-model:value="formValue.condition">
            <NRadioButton value="used">Б\У</NRadioButton>
            <NRadioButton value="new">Новое</NRadioButton>
          </NRadioGroup>
        </NFormItem>
        <h1>Подробности</h1>
        <NFormItem label="Описание товара" path="description">
          <NInput
            type="textarea"
            placeholder="Введите описание товара"
            class="description"
            v-model:value="formValue.description"
          >
          </NInput>
        </NFormItem>
        <NFormItem label="Цена" path="price">
          <NInput
            placeholder="Введите цену"
            class="description"
            v-model:value="formValue.price"
          >
            <template #suffix> ₽ </template>
          </NInput>
        </NFormItem>
        <NFormItem label="Фотографии">
          <NUpload action="https://www.mocky.io/v2/5e4bafc63100007100d8b70f">
            <NUploadDragger>
              <div style="margin-bottom: 12px">
                <NIcon size="48" :depth="3">
                  <IconUpload />
                </NIcon>
              </div>
              <n-text style="font-size: 16px">
                Нажмите или перетащите сюда фотографии, которые хотите загрузить
              </n-text>
              <n-p depth="3" style="margin: 8px 0 0 0">
                Перед отправкой перепроверьте фотографии на факт наличия личной
                информации: паспортных данных, данных банковской карты и так
                далее. Загрузите не более 10 фотографий.
              </n-p>
            </NUploadDragger>
          </NUpload>
        </NFormItem>
        <NFormItem label="Адрес" :show-feedback="false">
          <div class="colomn address">
            <div class="row">
              <NFormItem class="address-item" path="address.city">
                <NInput
                  placeholder="Введите город"
                  v-model:value="formValue.address.city"
                />
              </NFormItem>
              <NFormItem class="address-item" path="address.region">
                <NInput
                  placeholder="Введите район"
                  v-model:value="formValue.address.region"
                />
              </NFormItem>
            </div>
            <div class="row">
              <NFormItem class="address-item" path="address.street">
                <NInput
                  placeholder="Введите улицу"
                  v-model:value="formValue.address.street"
                />
              </NFormItem>
              <NFormItem class="address-item" path="address.building">
                <NInput
                  placeholder="Введите дом"
                  v-model:value="formValue.address.building"
                />
              </NFormItem>
              <NFormItem class="address-item" path="address.flat">
                <NInput
                  placeholder="Введите квартиру"
                  v-model:value="formValue.address.flat"
                />
              </NFormItem>
            </div>
          </div>
        </NFormItem>
        <div class="send-button">
          <NButton
            type="primary"
            size="large"
            round
            @click="handleValidateButtonClick"
          >
            Отправить
          </NButton>
        </div>
      </NForm>
    </div>
  </main>
</template>

<style scoped>
.colomn {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.row > .address-item {
  flex: auto;
}
.wrapper {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.address {
  gap: 2rem;
}
.send-button {
  display: flex;
  justify-content: flex-end;
}
</style>
