<template>
  <main>
    <div class="wrapper">
      <h1>Страница не найдена!</h1>
      <RouterLink :to="{ name: 'home' }">
        <h2>Вернуться на главную страницу</h2>
      </RouterLink>
    </div>
  </main>
</template>
<style scoped>
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  color: inherit;
}
</style>
