<script setup lang="ts">
import router from "@/router";
import { useProductStore } from "@/stores/product";
import { NCarousel, NImage, NButton, NIcon, NRate, NDivider } from "naive-ui";
import { ref } from "vue";
import IconUserInfo from "../components/icons/IconUserInfo.vue";
import IconArrowLeft from "../components/icons/IconArrowLeft.vue";
import IconArrowRight from "../components/icons/IconArrowRight.vue";

const images = [
  "https://i.redd.it/m8c6vfbxuvu51.jpg",
  "https://sun9-64.userapi.com/impf/57tVZHL_PmoA1Truj5jczTVpfBzW8kMfE-wt_w/ej1amU0v5oc.jpg?size=548x576&quality=96&sign=196196d6790310d38626f01cc836bbd7&type=album",
  "https://sun9-54.userapi.com/impf/h5AlIAVbrP9UdZWqrnRmfk_wix1Pebo2VQyHGg/S14YpmhK0bc.jpg?size=656x656&quality=96&sign=fbda8348e0a1f538fef76abb9bd71087&type=album",
  "https://sun9-60.userapi.com/impf/_AKbUNUv1usWG__bt3TtrVSD0RmI30YtQG70aA/ugQavRZgSp4.jpg?size=735x733&quality=96&sign=5a2f46497c4e3c047275d447a5a02a0d&type=album",
  "https://sun9-85.userapi.com/impf/2s-cui9P_XIJeYB1gVkCGzQXr_xL8IvZSU7mDQ/9Pho51dAVzI.jpg?size=736x736&quality=96&sign=327de86329afee8f5c40747fb2d5c850&type=album",
  "https://sun9-26.userapi.com/impf/95baLENsfTMV0yT_7IwnouazjtKcpK73B1dDQA/zENSCD2M7D0.jpg?size=720x649&quality=96&sign=e637a85361417a3f7b12de1467016016&type=album",
  "https://sun9-38.userapi.com/impf/JSsCpHBGRoAxFkBn3DheZWQwAtyrd-5cQX0Ssg/K6DQ76oJOL4.jpg?size=720x585&quality=96&sign=ed523e8cc256bb0fb81df9113053d0fa&type=album",
  "https://sun9-61.userapi.com/impf/4U9ceAaTrgMc3VoliHbm6r4OAbXciSQKARrFog/BLo0iZERJMs.jpg?size=735x728&quality=96&sign=435d30ce3ce2136e755708dcb51d30f9&type=album",
  "https://sun9-39.userapi.com/impf/gZ3x6pelhdI9ShDQuAn6nq5kqF7IABGYgYLiLQ/rxsqZZtPEhA.jpg?size=735x731&quality=96&sign=991110be24e6945e38e3c3241d7ab98e&type=album",
  "https://sun9-84.userapi.com/impf/rVcTVPPvJR-EZl63D_oCR84AWXps-T6r0-VKWA/hLquL4rW5cE.jpg?size=736x731&quality=96&sign=d4a724ba32d080a46fe9e6f28c2da780&type=album",
  "https://sun9-66.userapi.com/impf/jxhdbFvQi7umkQefskX1WmzoT1iZqCQgOxCjiQ/rrV5biWIIT4.jpg?size=720x470&quality=96&sign=7be146adbff0cb2a06882f2ee1b30c9d&type=album",
  "https://sun9-74.userapi.com/impf/hQ0qclDyohTuwpPZoBwxABiiNkbBLRBH7dI-Pw/z7E9fnhhzgc.jpg?size=736x718&quality=96&sign=ad0d09e024766e6f892a9a188679a7d6&type=album",
  "https://sun9-56.userapi.com/impf/IgpO41XztGdErreJo4UdF44cs6En_gnVt7-3qQ/kku3U3G-WVM.jpg?size=736x754&quality=96&sign=2050b8538ecd47e2047ef49a8d1ade9d&type=album",
  "https://sun9-26.userapi.com/impf/5U5T0vnynx4mN9ZWe4K_69k3EbliNWjRtUmglQ/iyXdrNIv-mQ.jpg?size=735x730&quality=96&sign=856d1549a7a2b909c622091eb7344ade&type=album",
  "https://sun9-86.userapi.com/impf/9FyLBA5bF_htaTFZthMcX2_YQdw0G8dQhF7yMQ/P1g38Q2uQro.jpg?size=675x1200&quality=96&sign=08683cd1d37aa3fd0050b3fb143c3f0d&type=album",
  "https://sun9-64.userapi.com/impf/_cJ_SXzGdR-MoGJ5RHhrdoUCdGYFWiwT8YZsKA/9t1mZ3zbdlE.jpg?size=736x471&quality=96&sign=a21e1766392c0d0751284210905cde4e&type=album",
  "https://sun9-82.userapi.com/impf/i3dPGYPpnwdr6Tuy2kp3n9QderlbQL3YwAs0dA/Cu6VIl86Gpo.jpg?size=640x482&quality=96&sign=c65e2079bedcadb03e9f56056dc0ccc6&type=album",
  "https://sun9-2.userapi.com/impf/nrkUBHLYp4t6PRYguj0qZJkn4uVCi344DHd-mg/2ZDMRc6BBUg.jpg?size=719x706&quality=96&sign=f35e1e27a55fde4b9b03bf30397f37d7&type=album",
  "https://sun9-41.userapi.com/impf/iwdmw89nsU8i3r9MpVsFdKq2n5892RdIewQmlA/dFn9DJ-AjUs.jpg?size=480x504&quality=96&sign=11d9186ceb9156cf7f632b00150114c2&type=album",
  "https://sun9-8.userapi.com/impf/iDcCHNmNsjhjsqo7rXdV7NyMeT-O7VCtNrmeIw/x3xQw1e-iAM.jpg?size=603x604&quality=96&sign=5aa6fefff523da4913e835da1e29d02a&type=album",
];
const getRandomImage = () => {
  return images[Math.floor(Math.random() * images.length)];
};
const calculatedImages = [
  getRandomImage(),
  getRandomImage(),
  getRandomImage(),
  getRandomImage(),
];

const props = defineProps({
  id: String,
});
const store = useProductStore();
const prodInfo = ref();
// Check store or fetch data if store is empty
const currentProduct = () => store.productInfo.find(({ id }) => id == props.id);
if (prodInfo.value === undefined && !currentProduct()) {
  store.getProductById(props.id).then((res) => {
    if (!res) router.push("/404");
    prodInfo.value = currentProduct();
  }); // this is the fix
} else {
  prodInfo.value = currentProduct();
}
</script>

<template>
  <main class>
    <div class="wrapper" v-if="prodInfo">
      <h1 class="title">{{ prodInfo.name }}</h1>
      <h2></h2>
      <div class="row">
        <NCarousel show-arrow centered-slides>
          <div class="image-wrapper">
            <NImage
              object-fit="cover"
              class="carousel-img outer-img"
              :src="calculatedImages[0]"
            />
            <NImage
              object-fit="scale-down"
              class="carousel-img inner-img"
              :src="calculatedImages[0]"
            />
          </div>
          <div class="image-wrapper">
            <NImage
              object-fit="cover"
              class="carousel-img outer-img"
              :src="calculatedImages[1]"
            />
            <NImage
              object-fit="scale-down"
              class="carousel-img inner-img"
              :src="calculatedImages[1]"
            />
          </div>
          <div class="image-wrapper">
            <NImage
              object-fit="cover"
              class="carousel-img outer-img"
              :src="calculatedImages[2]"
            />
            <NImage
              object-fit="scale-down"
              class="carousel-img inner-img"
              :src="calculatedImages[2]"
            />
          </div>
          <div class="image-wrapper">
            <NImage
              object-fit="cover"
              class="carousel-img outer-img"
              :src="calculatedImages[3]"
            />
            <NImage
              object-fit="scale-down"
              class="carousel-img inner-img"
              :src="calculatedImages[3]"
            />
          </div>
          <template #arrow="{ prev, next }">
            <div class="custom-arrow">
              <button type="button" class="curtom-arrow--left" @click="prev">
                <n-icon><IconArrowLeft /></n-icon>
              </button>
              <button type="button" class="curtom-arrow--right" @click="next">
                <n-icon><IconArrowRight /></n-icon>
              </button>
            </div>
          </template>
          <template #dots="{ total, currentIndex, to }">
            <ul class="custom-dots">
              <li
                v-for="index of total"
                :key="index"
                :class="{ ['is-active']: currentIndex === index - 1 }"
                @click="to(index - 1)"
              />
            </ul>
          </template>
        </NCarousel>
        <div class="colomn side-colomn">
          <h2>{{ prodInfo.price }}₽</h2>
          <NButton type="primary" size="large">Купить</NButton>
          <div class="row author-row">
            <div class="colomn">
              <a>Шлёпа Шлёпов</a>
              <p>частное лицо</p>
              <p>на HGP с июля 2018</p>
              <NRate readonly :default-value="4" />
            </div>
            <RouterLink
              :to="{
                name: 'user',
                params: {
                  id: prodInfo.id_user,
                },
              }"
            >
              <NButton circle class="author-avatar">
                <NIcon class="user-icon" size="2rem">
                  <IconUserInfo class="user-icon" />
                </NIcon>
              </NButton>
            </RouterLink>
          </div>
        </div>
      </div>
      <!-- <hr width="100%" style="margin: 4rem 0 0 0" /> -->
      <NDivider />
      <p class="description">
        {{ prodInfo.description }}{{ prodInfo.description
        }}{{ prodInfo.description }}
      </p>
      <!-- <hr width="100%" /> -->
      <NDivider />
      <p class="date">{{ prodInfo.date }}</p>
      <p class="region">{{ prodInfo.region }}</p>
    </div>
  </main>
</template>

<style scoped>
@media (max-width: 900px) {
  .side-colomn {
    margin: 0 1rem !important;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .description,
  .date,
  .region,
  .title {
    padding: 0 1rem !important;
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  80% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}
:deep(.carousel-img > img) {
  width: 100%;
}
.inner-img {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: auto;
  /* top: 0px; */
  left: 0px;
}
.outer-img {
  filter: blur(1rem);
  width: 100%;
}
.image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  animation: 1s, ease-in-out 0.5s 1 slideInFromLeft;
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.colomn {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.colomn > p {
  margin: 0;
}
.side-colomn {
  margin: 0 0 0 2rem;
}
.author-row {
  align-items: center;
  margin: 2rem 0;
}
.author-avatar {
  height: 5.6rem; /*3 lines is approx. 4.2 rem*/
  width: 5.6rem;
  margin: 0 0 0 1rem;
}
.user-icon {
  width: 100%;
  /* height: 100%; */
}
.n-carousel {
  max-width: 80vh;
  min-width: auto;
  /* max-height: 40vh; */
}
.carousel-img {
  max-height: 40vh;
  object-fit: contain;
  margin: auto;
}
/* img {
  width: 100%;
  object-fit: scale-down;
} */
.n-carousel__arrow-group {
  background-color: black;
}
/* button */
.custom-arrow {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 10px;
}

.custom-arrow button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 0;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.custom-arrow button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-arrow button:active {
  transform: scale(0.95);
  transform-origin: center;
}

.custom-dots {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.custom-dots li {
  display: inline-block;
  width: 12px;
  height: 4px;
  margin: 0 3px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: width 0.3s, background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.custom-dots li.is-active {
  width: 40px;
  background: #fff;
}
</style>
