<script setup lang="ts">
import { ref } from "vue";
import {
  NInput,
  NButton,
  NForm,
  NFormItem,
  type FormInst,
  type FormItemRule,
  type FormItemInst,
  useMessage,
} from "naive-ui";

import { useAuthStore } from "@/stores/auth";
const store = useAuthStore();
const formRef = ref<FormInst | null>(null);
const rPasswordFormItemRef = ref<FormItemInst | null>(null);
const message = useMessage();
const modelRef = ref({
  name: "",
  email: "",
  password: "",
  reenteredPassword: "",
  city: "",
});
function validatePasswordStartWith(rule: FormItemRule, value: string) {
  return (
    !!modelRef.value.password &&
    modelRef.value.password.startsWith(value) &&
    modelRef.value.password.length >= value.length
  );
}
function validatePasswordSame(rule: FormItemRule, value: string) {
  return value === modelRef.value.password;
}
const rules = {
  login: [
    {
      required: true,
      message: "Необходимо ввести логин",
      trigger: ["input", "blur"],
    },
  ],
  email: [
    {
      required: true,
      message: "Необходимо ввести адрес электронной почты",
      trigger: ["input", "blur"],
    },
  ],
  password: [
    {
      required: true,
      message: "Необходимо ввести пароль",
      trigger: ["input", "blur"],
    },
  ],
  reenteredPassword: [
    {
      required: true,
      message: "Необходимо ввести пароль повторно",
      trigger: ["input", "blur"],
    },
    {
      validator: validatePasswordStartWith,
      message: "Пароли не совпадают!",
      trigger: "input",
    },
    {
      validator: validatePasswordSame,
      message: "Пароли не совпадают!",
      trigger: ["blur", "password-input"],
    },
  ],
  city: [
    {
      required: true,
      message: "Необходимо ввести название города",
      trigger: ["input", "blur"],
    },
  ],
};

const handlePasswordInput = () => {
  if (modelRef.value.reenteredPassword) {
    rPasswordFormItemRef.value?.validate({ trigger: "password-input" });
  }
};

const handleValidateButtonClick = (e: MouseEvent) => {
  e.preventDefault();
  formRef.value?.validate((errors) => {
    if (!errors) {
      store.register();
    } else {
      console.log(errors);
      message.error("Заполните поля верно");
    }
  });
};
</script>

<template>
  <main>
    <div class="wrapper">
      <NForm ref="formRef" :model="modelRef" :rules="rules">
        <NFormItem label="Введите ваш логин" path="name">
          <NInput
            placeholder="Введите логин"
            v-model:value="modelRef.name"
            @keydown.enter.prevent
          />
        </NFormItem>
        <NFormItem label="Email" path="email">
          <NInput
            placeholder="Введите почту"
            v-model:value="modelRef.email"
            @keydown.enter.prevent
          />
        </NFormItem>
        <NFormItem path="password" label="Пароль">
          <NInput
            placeholder="Введите пароль"
            v-model:value="modelRef.password"
            type="password"
            show-password-on="mousedown"
            @input="handlePasswordInput"
            @keydown.enter.prevent
          />
        </NFormItem>
        <NFormItem
          ref="rPasswordFormItemRef"
          first
          path="reenteredPassword"
          label="Подтверждение пароля"
        >
          <NInput
            placeholder="Введите пароль повторно"
            v-model:value="modelRef.reenteredPassword"
            type="password"
            @keydown.enter.prevent
          />
        </NFormItem>
        <NFormItem label="Город" path="city">
          <NInput
            placeholder="Введите ваш город"
            v-model:value="modelRef.city"
            @keydown.enter.prevent
          />
        </NFormItem>
        <div class="button-wrapper">
          <NButton
            :disabled="modelRef.name === null"
            round
            type="primary"
            @click="handleValidateButtonClick"
          >
            Регистрация
          </NButton>
        </div>
      </NForm>
    </div>
  </main>
</template>

<style scoped>
.wrapper {
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
</style>
