<script setup lang="ts">
import { ref, type Ref } from "vue";
import { NButton, NIcon, NRate, NModal, NCard } from "naive-ui";
import router from "@/router";

import { useUserStore, type UserDetails } from "@/stores/user";
import { useReviewStore } from "@/stores/review";
import IconUserInfo from "@/components/icons/IconUserInfo.vue";
import TheCardGrid from "@/components/TheCardGrid.vue";

const showModal = ref(false);

const props = defineProps({
  id: String,
});
const userStore = useUserStore();
const userInfo = ref() as Ref<UserDetails | undefined>;
const currentUser = () => userStore.userInfo.find(({ id }) => id == props.id);
const isLoaded = ref(false);

if (userInfo.value === undefined && !currentUser()) {
  userStore.getUserById(props.id).then((res) => {
    if (!res) router.push("/404");
    userInfo.value = currentUser();
  });
  isLoaded.value = true;
} else {
  userInfo.value = currentUser();
  isLoaded.value = true;
}
const isSolved = ref(false);
const switchSolved = (state: boolean) => {
  isSolved.value = state;
};
</script>
<template>
  <main>
    <div class="wrapper row" v-if="userInfo">
      <section class="sidebar colomn">
        <NIcon class="user-icon" size="2rem">
          <IconUserInfo class="user-icon" />
        </NIcon>
        <h1>{{ userInfo.name }}</h1>
        <NRate readonly :default-value="4" />
        <NButton @click="showModal = true" class="show-modal">2 отзыва</NButton>
        <NModal v-model:show="showModal">
          <NCard
            style="width: 600px"
            :bordered="false"
            size="huge"
            role="dialog"
            aria-modal="true"
          >
            <h2>Отзывы о продавце</h2>
            4.5
            <NRate readonly :default-value="4" />
            <p>На основании 5 оценок</p>
            <NIcon></NIcon>
          </NCard>
        </NModal>
        <p class="date">На HGP с {{ userInfo.date }}</p>
      </section>
      <section class="products colomn">
        <div class="products-switch">
          <h1>Объявления пользователя</h1>
          <div class="row solved-row">
            <NButton @click="switchSolved(false)">Активные</NButton>
            <NButton @click="switchSolved(true)">Завершённые</NButton>
          </div>
        </div>
        <TheCardGrid :userId="props.id" :isSolved="isSolved" />
      </section>
    </div>
  </main>
</template>

<style scoped>
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper {
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  animation: 1s, ease-in-out 0.5s 1 slideInFromLeft;
}
.row {
  display: flex;
  flex-direction: row;
}
.colomn {
  display: flex;
  flex-direction: column;
}
.sidebar {
  width: fit-content;
  margin: 1rem auto;
}
h1 {
  margin: 0rem;
}
.date {
  width: max-content;
}
.products {
  flex: auto;
}
.products-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}
.user-icon {
  width: 5.6rem;
  height: 5.6rem;
}
.show-modal {
  margin: 2rem 0 0 0;
  width: 100%;
}
</style>
