<script setup lang="ts">
import {
  NCard,
  NSkeleton,
  NEllipsis,
  NPagination,
  NImage,
  type GlobalTheme,
} from "naive-ui";
import { onUpdated, ref, watch, type PropType, type Ref } from "vue";
import { useProductStore, type ProductDetails } from "@/stores/product";
import router from "@/router";

const props = defineProps({
  userId: String,
  isSolved: Boolean,
  // currentTheme: Object as PropType<GlobalTheme>,
});
const images = [
  "https://i.redd.it/m8c6vfbxuvu51.jpg",
  "https://sun9-64.userapi.com/impf/57tVZHL_PmoA1Truj5jczTVpfBzW8kMfE-wt_w/ej1amU0v5oc.jpg?size=548x576&quality=96&sign=196196d6790310d38626f01cc836bbd7&type=album",
  "https://sun9-54.userapi.com/impf/h5AlIAVbrP9UdZWqrnRmfk_wix1Pebo2VQyHGg/S14YpmhK0bc.jpg?size=656x656&quality=96&sign=fbda8348e0a1f538fef76abb9bd71087&type=album",
  "https://sun9-60.userapi.com/impf/_AKbUNUv1usWG__bt3TtrVSD0RmI30YtQG70aA/ugQavRZgSp4.jpg?size=735x733&quality=96&sign=5a2f46497c4e3c047275d447a5a02a0d&type=album",
  "https://sun9-85.userapi.com/impf/2s-cui9P_XIJeYB1gVkCGzQXr_xL8IvZSU7mDQ/9Pho51dAVzI.jpg?size=736x736&quality=96&sign=327de86329afee8f5c40747fb2d5c850&type=album",
  "https://sun9-26.userapi.com/impf/95baLENsfTMV0yT_7IwnouazjtKcpK73B1dDQA/zENSCD2M7D0.jpg?size=720x649&quality=96&sign=e637a85361417a3f7b12de1467016016&type=album",
  "https://sun9-38.userapi.com/impf/JSsCpHBGRoAxFkBn3DheZWQwAtyrd-5cQX0Ssg/K6DQ76oJOL4.jpg?size=720x585&quality=96&sign=ed523e8cc256bb0fb81df9113053d0fa&type=album",
  "https://sun9-61.userapi.com/impf/4U9ceAaTrgMc3VoliHbm6r4OAbXciSQKARrFog/BLo0iZERJMs.jpg?size=735x728&quality=96&sign=435d30ce3ce2136e755708dcb51d30f9&type=album",
  "https://sun9-39.userapi.com/impf/gZ3x6pelhdI9ShDQuAn6nq5kqF7IABGYgYLiLQ/rxsqZZtPEhA.jpg?size=735x731&quality=96&sign=991110be24e6945e38e3c3241d7ab98e&type=album",
  "https://sun9-84.userapi.com/impf/rVcTVPPvJR-EZl63D_oCR84AWXps-T6r0-VKWA/hLquL4rW5cE.jpg?size=736x731&quality=96&sign=d4a724ba32d080a46fe9e6f28c2da780&type=album",
  "https://sun9-66.userapi.com/impf/jxhdbFvQi7umkQefskX1WmzoT1iZqCQgOxCjiQ/rrV5biWIIT4.jpg?size=720x470&quality=96&sign=7be146adbff0cb2a06882f2ee1b30c9d&type=album",
  "https://sun9-74.userapi.com/impf/hQ0qclDyohTuwpPZoBwxABiiNkbBLRBH7dI-Pw/z7E9fnhhzgc.jpg?size=736x718&quality=96&sign=ad0d09e024766e6f892a9a188679a7d6&type=album",
  "https://sun9-56.userapi.com/impf/IgpO41XztGdErreJo4UdF44cs6En_gnVt7-3qQ/kku3U3G-WVM.jpg?size=736x754&quality=96&sign=2050b8538ecd47e2047ef49a8d1ade9d&type=album",
  "https://sun9-26.userapi.com/impf/5U5T0vnynx4mN9ZWe4K_69k3EbliNWjRtUmglQ/iyXdrNIv-mQ.jpg?size=735x730&quality=96&sign=856d1549a7a2b909c622091eb7344ade&type=album",
  "https://sun9-86.userapi.com/impf/9FyLBA5bF_htaTFZthMcX2_YQdw0G8dQhF7yMQ/P1g38Q2uQro.jpg?size=675x1200&quality=96&sign=08683cd1d37aa3fd0050b3fb143c3f0d&type=album",
  "https://sun9-64.userapi.com/impf/_cJ_SXzGdR-MoGJ5RHhrdoUCdGYFWiwT8YZsKA/9t1mZ3zbdlE.jpg?size=736x471&quality=96&sign=a21e1766392c0d0751284210905cde4e&type=album",
  "https://sun9-82.userapi.com/impf/i3dPGYPpnwdr6Tuy2kp3n9QderlbQL3YwAs0dA/Cu6VIl86Gpo.jpg?size=640x482&quality=96&sign=c65e2079bedcadb03e9f56056dc0ccc6&type=album",
  "https://sun9-2.userapi.com/impf/nrkUBHLYp4t6PRYguj0qZJkn4uVCi344DHd-mg/2ZDMRc6BBUg.jpg?size=719x706&quality=96&sign=f35e1e27a55fde4b9b03bf30397f37d7&type=album",
  "https://sun9-41.userapi.com/impf/iwdmw89nsU8i3r9MpVsFdKq2n5892RdIewQmlA/dFn9DJ-AjUs.jpg?size=480x504&quality=96&sign=11d9186ceb9156cf7f632b00150114c2&type=album",
  "https://sun9-8.userapi.com/impf/iDcCHNmNsjhjsqo7rXdV7NyMeT-O7VCtNrmeIw/x3xQw1e-iAM.jpg?size=603x604&quality=96&sign=5aa6fefff523da4913e835da1e29d02a&type=album",
];
const getRandomImage = () => {
  return images[Math.floor(Math.random() * images.length)];
};
// Fetch
const page = ref(1);
const pageLimit = 24;
const store = useProductStore();

const cardInfo = ref([]) as Ref<ProductDetails[]>;
const getProductsData = () => {
  if (props.userId) {
    store.getUserProducts(props.userId).then((res) => {
      if (!res) router.push("/404");
      cardInfo.value = res;
    });
  } else {
    store.getProducts(page.value, pageLimit).then((res) => {
      if (!res) router.push("/404");
      cardInfo.value = res;
    });
  }
};

getProductsData();
watch(page, () => {
  getProductsData();
  loading.value = true;

  window.scrollTo(0, 0);
});

// Skeleton
const loading = ref(true);
onUpdated(() => {
  loading.value = false;
});
</script>

<template>
  <div class="wrapper">
    <!--  Skeleton  -->
    <div v-if="loading" class="skeleton-wrapper wrapper">
      <NCard v-for="n in 20" :key="n" class="skeleton-card">
        <template #cover>
          <NSkeleton height="200px" />
        </template>
        <NSkeleton text class="title-skeleton" />
        <NSkeleton text class="title-skeleton" width="80%" />
        <br />
        <NSkeleton text class="price-skeleton" width="25%" />
        <br />
        <NSkeleton text class="region-skeleton" width="65%" />
        <NSkeleton text class="time-skeleton" width="50%" />
      </NCard>
    </div>

    <!--  Actual card -->
    <NCard
      hoverable
      v-for="card in cardInfo.filter(({ solved }) => solved == isSolved)"
      :key="card.id"
      class="card"
    >
      <!-- <template #cover> -->
      <RouterLink
        :to="{
          name: 'product',
          params: {
            id: card.id,
            page: page,
          },
        }"
      >
        <div class="cover">
          <img :src="getRandomImage()" class="cover-image" />
        </div>
      </RouterLink>

      <!-- </template> -->
      <div class="card-content">
        <NEllipsis :line-clamp="2">
          <RouterLink
            :to="{
              name: 'product',
              params: {
                id: card.id,
                page: page,
              },
            }"
            class="title"
          >
            <div class="title">{{ card.name }}</div>
          </RouterLink>
        </NEllipsis>
        <div>
          <div class="price">{{ card.price }}₽</div>
          <NEllipsis :line-clamp="1">
            <div class="region">г.Барнаул пр-кт Ленина 154а</div>
          </NEllipsis>
          <div class="date">{{ card.date }}</div>
        </div>
      </div>
    </NCard>
  </div>

  <!-- Pagination -->
  <NPagination v-model:page="page" :page-count="10" v-if="!userId" />
</template>

<style scoped>
@media (max-width: 900px) {
  .n-card {
    width: 40% !important;
    min-width: auto !important;
  }
}
@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
:deep(.n-card__content) {
  padding: 0 !important;
}
.skeleton-card {
  padding: 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  max-width: 1100px;
  margin: auto;
}
/* Card */
.card {
  animation: 1s, ease-out 0.5s 1 appearAnimation;
}
.n-card {
  margin: 1rem 1rem;
  max-width: 230px;
  min-width: 230px;
}
.n-card-cover {
  height: 5rem;
}
.card-content {
  animation: 1s, ease-out 0.8s 1 appearAnimation;
  padding: 0.5rem 0.7rem 1rem 0.7rem;
}
.cover {
  width: 100%;
  height: 10rem;
}
.cover-image {
  height: inherit;
  object-fit: cover;
  width: 100%;
}
.title {
  text-decoration: none;
  color: var(--n-color-target);
  font-weight: 700;
  margin: 0.5rem 0 0 0;
}
.price {
  font-weight: bold;
}
/* Skeleton */
.title-skeleton {
  height: 1.2rem;
  margin: 0.5rem 0 0 0;
}
.title-skeleton:first-child {
  margin-top: 1rem;
}
.price-skeleton {
  width: 15%;
  height: 1em;
}
/* Pagination */
.n-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
</style>
