<script setup lang="ts">
import { NSpace, NButton, NIcon } from "naive-ui";
import IconVk from "@/components/icons/IconVk.vue";
import IconTelegram from "@/components/icons/IconTelegram.vue";
import IconDiscord from "@/components/icons/IconDiscord.vue";
</script>

<template>
  <div class="footer">
    <div class="wrapper">
      <div class="copyright">
        <h2>&copy; NightCall inc.</h2>
      </div>
      <div class="privacyPolicy">
        <RouterLink :to="{ name: 'privacy' }">
          <NButton round
            ><a class="policy">Политика конфиденциальности</a></NButton
          >
        </RouterLink>
      </div>
      <div class="social">
        <NSpace>
          <NButton
            text
            circle
            tag="a"
            href="https://vk.com/hgpain"
            target="_blank"
          >
            <NIcon size="large">
              <IconVk />
            </NIcon>
          </NButton>
          <NButton
            text
            round
            tag="a"
            href="https://t.me/+CFBElzLclRBmZTUy"
            target="_blank"
          >
            <NIcon size="large">
              <IconTelegram />
            </NIcon>
          </NButton>
          <NButton
            text
            round
            tag="a"
            href="https://discord.gg/C7juGRDbME"
            target="_blank"
          >
            <NIcon size="large">
              <IconDiscord />
            </NIcon>
          </NButton>
        </NSpace>
      </div>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  width: 100%;
  bottom: 0px;
  background-color: teal;
  margin-top: auto;
}

.copyright {
  padding-top: auto;
  padding: 0 2rem;
}

.privacyPolicy {
  display: flex;
  justify-content: center;
  padding: auto;
}

.social {
  padding: 2rem;
}
.copyright > h2,
.social > div {
  width: max-content;
}

.n-button {
  text-decoration: none;
}

a {
  text-decoration: none;
}
</style>
