<script setup lang="ts">
import {
  NCard,
  NForm,
  NFormItem,
  NInput,
  NButton,
  NIcon,
  NDropdown,
  type GlobalTheme,
  NModal,
  useMessage,
  type FormInst,
} from "naive-ui";
import { ref, h, type Component } from "vue";
import IconSearch from "@/components/icons/IconSearch.vue";
import IconSliders from "@/components/icons/IconSliders.vue";
import IconUser from "@/components/icons/IconUser.vue";
import IconPlus from "@/components/icons/IconPlus.vue";
import IconThemeLight from "@/components/icons/IconThemeLight.vue";
import IconThemeDark from "@/components/icons/IconThemeDark.vue";
import IconBars from "@/components/icons/IconBars.vue";

import { useAuthStore } from "@/stores/auth";
import router from "@/router";

const authStore = useAuthStore();
// authStore.login();

const props = defineProps<{
  switchTheme(): void;
  currentTheme: GlobalTheme | null | undefined;
}>();

const renderIcon = (icon: Component) => {
  return () => {
    return h(NIcon, null, {
      default: () => h(icon),
    });
  };
};
const renderThemeIcon = () => {
  if (props.currentTheme) {
    return () => {
      return h(NIcon, null, {
        default: () => h(IconThemeLight),
      });
    };
  }
  return () => {
    return h(NIcon, null, {
      default: () => h(IconThemeDark),
    });
  };
};
const handleSelect = (key: string) => {
  switch (key) {
    case "theme":
      props.switchTheme();
      break;
    case "add":
      router.push("/add");
      break;
    case "login":
      showModal.value = true;
      break;
    default:
      break;
  }
};
const dropdownOptions = [
  {
    label: "Сменить тему",
    key: "theme",
  },
  {
    label: "Добавить объявление",
    key: "add",
  },
  {
    label: "Войти",
    key: "login",
  },
];
const showModal = ref(false);
const formRef = ref<FormInst | null>(null);
const message = useMessage();
const formValue = ref({
  name: "",
  password: "",
});
const rules = ref({
  name: {
    required: true,
    message: "Пожалуйста введите почту",
    trigger: "blur",
  },
  password: {
    required: true,
    message: "Пожалуйста введите пароль",
    trigger: ["input", "blur"],
  },
});

const signIn = (e: MouseEvent) => {
  e.preventDefault();
  formRef.value?.validate((errors) => {
    if (!errors) {
      showModal.value = false;
    } else {
      console.log(errors);
      message.error("Введены неверные данные");
    }
  });
};
</script>

<template>
  <nav>
    <RouterLink to="/" class="title">
      <NButton text>HGP</NButton>
    </RouterLink>
    <NInput round placeholder="Поиск..." class="search-input">
      <template #prefix>
        <NIcon>
          <IconSearch />
        </NIcon>
      </template>
      <template #suffix>
        <NButton quaternary round>
          <NIcon>
            <IconSliders />
          </NIcon>
        </NButton>
      </template>
    </NInput>
    <div class="desktop-buttons">
      <NButton @click="switchTheme" round>
        <NIcon v-if="currentTheme == null">
          <IconThemeDark class="icon-theme" />
        </NIcon>
        <NIcon v-else>
          <IconThemeLight class="icon-theme" />
        </NIcon>
      </NButton>
      <Router-Link :to="{ name: 'productAdd' }">
        <NButton round>
          <NIcon>
            <IconPlus />
          </NIcon>
        </NButton>
      </Router-Link>
      <NButton round @click="showModal = true">
        <NIcon> <IconUser /> </NIcon>
      </NButton>
    </div>
    <NDropdown :options="dropdownOptions" @select="handleSelect">
      <NButton round class="dropdown">
        <NIcon> <IconBars /> </NIcon>
      </NButton>
    </NDropdown>

    <NModal v-model:show="showModal">
      <NCard
        header-style="margin: auto"
        title="Войти в HGP"
        :bordered="false"
        size="huge"
        role="dialog"
        aria-modal="true"
      >
        <div class="wrapper">
          <NForm
            ref="formRef"
            label-width="auto"
            :model="formValue"
            :rules="rules"
          >
            <NFormItem label="Адрес почты" path="name">
              <NInput
                v-model:value="formValue.name"
                placeholder="Введите адрес почты"
              />
            </NFormItem>
            <NFormItem label="Пароль" path="password">
              <NInput
                type="password"
                v-model:value="formValue.password"
                show-password-on="mousedown"
                placeholder="Введите пароль"
              />
            </NFormItem>
            <div class="button">
              <NFormItem>
                <NButton type="primary" block secondary strong @click="signIn">
                  Войти
                </NButton>
              </NFormItem>
            </div>
          </NForm>
        </div>
        <template #footer>
          <div class="card_footer">
            Впервые на HGP?
            <RouterLink :to="{ name: 'signUp' }">
              <NButton quaternary type="info" @click="showModal = false">
                <a>Создать аккаунт</a>
              </NButton>
            </RouterLink>
          </div>
        </template>
      </NCard>
    </NModal>
  </nav>
</template>

<style scoped>
@media (max-width: 900px) {
  .desktop-buttons {
    display: none !important;
  }
  .dropdown {
    display: initial !important;
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.title {
  margin: auto 1rem;
  text-decoration: none;
}

nav {
  animation: 1s, ease-in-out 0.8s 1 slideInFromLeft;
  display: flex;
  margin: 2rem 0;
}

.n-card {
  display: flex;
  width: 400px;
}
.desktop-buttons {
  display: inherit;
}
.dropdown {
  display: none;
}

.wrapper {
  align-items: center;
}

.card_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.n-button {
  margin: 0 0.5rem 0 0;
}
.search-input {
  margin: 0 2rem 0 1rem;
}
.icon-theme {
  animation: 1s, ease 0.5s 1 slideFromTop;
}

a {
  text-decoration: none;
}
</style>
