<script setup lang="ts">
import {
  darkTheme,
  NConfigProvider,
  useOsTheme,
  NLayout,
  NMessageProvider,
  type GlobalTheme,
} from "naive-ui";
import { RouterView } from "vue-router";
import { ref } from "vue";

import TheNavigation from "@/components/TheNavigation.vue";
import TheFooter from "@/components/TheFooter.vue";

// Theme switcher
const osThemeRef = useOsTheme();
const theme = ref(localStorage.getItem("theme") || "light");
const currentTheme = ref<GlobalTheme | null>();

const recalculateTheme = () => {
  if (!localStorage.theme) {
    currentTheme.value = osThemeRef.value === "dark" ? darkTheme : null;
  } else {
    currentTheme.value = theme.value === "dark" ? darkTheme : null;
  }
};
const switchTheme = () => {
  if (!localStorage.theme) {
    theme.value = osThemeRef.value === "dark" ? "light" : "dark";
  } else {
    theme.value = theme.value === "dark" ? "light" : "dark";
  }

  localStorage.setItem("theme", theme.value);
  recalculateTheme();
};

recalculateTheme();
</script>

<template>
  <NConfigProvider :theme="currentTheme">
    <NMessageProvider>
      <NLayout>
        <div class="main-wrapper">
          <header>
            <div class="wrapper">
              <TheNavigation
                :switchTheme="switchTheme"
                :currentTheme="currentTheme"
                v-show="$route.name !== 'NotFound'"
              ></TheNavigation>
            </div>
          </header>

          <RouterView />
          <TheFooter v-show="$route.name !== 'NotFound'" />
        </div>
      </NLayout>
    </NMessageProvider>
  </NConfigProvider>
</template>

<style scoped>
@import "@/assets/base.css";

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}
.wrapper {
  /* Change this later */
  max-width: 1100px;
  margin: auto;
}
</style>
